html {
  font-size: 62.5%;
}

body {
  background: $dark-blue;
  font-size: $m-size;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}